.main_container {
  padding: 0rem 1rem;
}
.logo img {
  width: 160px;
  height: 150px;
}
.kitchen_content {
  margin: auto;
  width: 60%;
  height: 80vh;
  border-radius: 10px;
  max-width: 1200px;
}
.banner_and_profile {
  width: 100%;
  position: relative;
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.profile_picture img {
  width: 160px;
  height: 150px;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  top: 140px;
  left: 20px;
}
.kitchen_description {
  margin-top: 60px;
}
.kitchen_name {
  font-size: 2.2rem;
  font-weight: 600;
}
.kitchen_location {
  font-size: 1.3rem;
  margin: 10px 0;
}
.kitchen_desc {
  font-size: 1.3rem;
}
.dish_container {
  margin-top: 60px;
}
.dish_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.dish_image {
  width: 33%;
}
.dish_image img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 350px;
}
@media screen and (max-width: 1024px) {
  .kitchen_content {
    width: 85%;
  }
}
@media screen and (max-width: 580px) {
  .kitchen_content {
    width: 100%;
  }
  .profile_picture img {
    left: 10px;
  }
  .main_container {
    padding: 10px;
  }
  .logo img {
    width: 110px;
    height: 100px;
  }
  .profile_picture img {
    width: 130px;
    height: 130px;
    top: 160px;
  }
  .kitchen_name {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .dish_image {
    width: 100%;
  }
  .dish_container {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .kitchen_name {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .kitchen_location {
    font-size: 1rem;
  }
  .kitchen_desc {
    font-size: 1rem;
  }
}
